  .Media {
    height: 0px;
    padding-top: 56.25%;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
  }

  .Border {
    border: solid;
  } 

  .FullHeightCard {
    height: 100%;
  } 

  .Card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px !important;
    height: 100%;
    position: relative;
  } 

  .Overlay {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
  }

  .Overlay2 {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
  }

  .Grid {
    display: flex;
  }

  .tag {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
  }
    
  .Title {
    padding: 0px 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }

  .CardActions {
    padding: 10px 16px 8px 16px;
    display: flex;
    justify-content: space-between;
  }